article {
  background: white;
  width: 100%;
  padding: 20px;
  position: relative;
}

article::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 50px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
  background-size: 100%;
}



.HomeContainer
{
    width: 100%;
    min-height: 653px;
    height: 100vh;
    /* max-height: 1500px; */
    background-color: #222222;
    /* background-color: #E5E5E5; */
    /* background-image: url('/src/assets/Images/background.png'); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;

    
}

.HomeCopy
{
    width: 100%;
    max-width: 1300px;
    padding: 2rem;
}

.HiHidden
{
    display: none;
}

.CopyWrapper
{
    display: flex;
    flex-wrap: wrap;
}


.Homeh1 span
{
    font-size: 6rem;
}

.red span
{
    font-weight: bold;
    text-decoration: underline;
    color: #C6FF2D;
}

.HomeTitle
{
    display: flex;
}

.HomeOl
{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.HomeOl li
{
    color: #C6FF2D;
}

.Homeli
{
    list-style: none;
    width: 165px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #C6FF2D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-underline-animation {
    position: relative;
    color: #C6FF2D;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #C6FF2D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


@media(max-width: 900px)
{
    .Homeh1 span
    {
        font-size: 5rem;
    }
}

@media(max-width: 800px)
{
    .Homeh1 span
    {
        font-size: 4rem;
    }

    .HomeContainer
    {
        justify-content: center;
    }

}

@media(max-width: 600px)
{
    .Homeh1 span
    {
        font-size: 3.3rem;
    }

    /* .HomeOl
    {
        flex-direction: column;
    } */

    .Homeli h3 
    {
        font-size: .9rem;
    }

    .Homeli
    {
        width: 140px;
    }
}

@media(max-width: 500px)
{


    .HomeTitle
    {
        flex-wrap: wrap ;
    }

    .Homeh1 span
    {
        font-size: 5rem;
    }

    .Homeli h3 
    {
        font-size: .9rem;
    }

    .Homeli
    {
        width: 130px;
    }

    .HomeOl
    {
        flex-wrap: wrap;
    }
}


@media(max-width: 460px)
{

    .HomeContainer
    {
        display: block;
    }

    .Homeh1 span
    {
        font-size: 4rem;
    }

    .HiHidden
    {
        display: none;
    }

    .Homeh1Ghost
    {
        display: block;
    }

    .HomeOl
    {
        flex-direction: column;
    }

    .HomeCopy
    {
        padding-top: 10rem;
    }
}


@media(max-width: 460px)
{
    .HomeCopy
    {
        padding-top: 5rem;
    }
}