.contactMeWrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    padding: 0 0 10rem 0;
}

.contactMeContainer
{
    width: 100%;
    max-width: 1300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    border: 2.5px solid #C6FF2D;
    padding: 2rem;
    border-radius: 20px;
    gap: 2rem;
    /* background-color: black; */
}


.markers
{
    height: 100%;
    width: 100%;
    background:
    linear-gradient(to right, #C6FF2D 4px, transparent 4px) 0 0,
    linear-gradient(to right, #C6FF2D 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #C6FF2D 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #C6FF2D 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #C6FF2D 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #C6FF2D 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #C6FF2D 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #C6FF2D 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
}

.contactMeContainer button
{
    padding: 1rem 2rem 1rem 2rem;
    background-color: transparent;
    color: #C6FF2D;
    border: 2px solid #C6FF2D;
    font-size: 2rem;
    transition: padding .3s;
}

.contactMeContainer button:hover
{
    padding: 1rem;
}

.contactMeContainer h1
{
    font-weight: bold;
    font-size: 4rem;
    color: #C6FF2D;
}

.contactMeContainer a
{
    color: #C6FF2D;
}

.extraInfo
{
    justify-content: left;
    margin-top: 3rem;
    display: flex;
    gap: .5rem;
    color: #C6FF2D;
}

.extraInfo a{
    color: #C6FF2D;
}