.AboutMeWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* min-height: 100vh; */
    /* height: 100vh; */
    min-height: 100vh;
    height: 100%;
    /* max-height: 1000px; */
    background-color: #222222;
    /* padding: 0rem 0 5rem 0; */
    padding: 5rem 0 5rem 0;
    overflow: hidden;
}

.AboutMeContainer
{
    max-width: 1300px;
    min-height: 653px;
    height: fit-content;
    width: 100%;
}

.SingleCapsuleTitle
{
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
}

.ATDecoration
{
    display: flex;
    justify-content: space-between;
}

.ATDecoration div
{
    display: flex;
    gap: 1rem;
}

.ATDecoration img
{
    aspect-ratio: 1 / 1;
    width: 3rem;
}



.AMFlexItems
{
    display: flex;
    gap: 1rem;
}

.DowloadAndInfo
{
    width: 70%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.ImageAndSkills
{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.SCInfo
{
    flex: 1 1 auto;
    /* height: fit-content; */

}

.SCInfoText
{
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SCInfoText p
{
    line-height: 2rem;
    font-size: 1.5rem;
}

.SCImageWrapper
{
    max-height: 500px;
    width: 100%;
}

.SCImageWrapper h1
{
    position: absolute;
    padding-top: 1rem;
    padding-left: 1rem;
}

.SCImage{
    aspect-ratio: 1 / 1;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SCImageWrapper img
{
    height: 100%;
    width: 100%;
    object-fit: fill;
}


.SCSkills
{
    color: #C6FF2D;
}

.SCSkills h3
{
    padding: 0 2rem 0 2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: #C6FF2D;
}

.SCDowload
{
    color: #C6FF2D;
    cursor: pointer;
    height: fit-content;

    min-height: 80px;
}

.dowloadbtn
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#dowloadTxt
{
    font-weight: bolder;
    font-size: 2.5rem;
}


.dowloadIcon
{
    width: 3rem;
}

.SkillsUl
{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.SkillsUl li
{
    background-color: transparent;
    font-size: 1rem;
    list-style: none;
    font-weight: bold;
    border: 2px solid #C6FF2D;
    width: 45%;
    text-align: center;
    padding:  .5rem 0 .5rem 0;
    border-radius: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}